# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Databases
*.db
*.sqlite3

# Environments
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
nexus.db
